PORT=8080
DATABASE_PATH=./backend/db.sqlite
BASE_ADDRESS=localhost
APP_ENV=development
ALLOWED_ORIGIN=http://localhost:5173
MIGRATIONS_DIR=./backend/internal/db/migrations
VITE_API_PROXY_TARGET=http://localhost:8080
